/* Add a sky blue backgfont-familiy css tag */
body{
    background-color:white
    }
    a:hover
     {
        background-color:black;
    }
    *{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        /* background-color:whitesmoke; */
        /* background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        /* filter: blur(8px);
        -webkit-filter: blur(8px); */
      
    }
    div{
        width: 50%;
        length: 50%;
        margin: 0 auto;
        text-align:left;
        
    }
    #home{
        background-image: url('/img/bg2.jpeg');
        background-size: cover;
        display: flex;
        background-position:left;
        align-items: left;
        padding-top: 20px;
    }
    div > img{
        width: 500px;
        border-radius: 5px;
        text-align: left;
        display: block;
        margin-left: auto;
    }
    .logo{
        width: 50px;
    }
    nav{
        display: flex;
        align-items: left;
        justify-content: space-evenly;
        background-color: black;
        padding: 20px;
        position: fixed;
        width: 100%;
        top: 0;
    }
    nav > a{
        text-decoration: none;
        color:white;
        font-size: larger;
    }
    .self{
       padding: 20px; 
    }
    .self > h1{
        color:black;
    }
    .self > div >p{
        font-size: x-large;
        color: white;
        /* color: white; */
    }
    button{
        padding: 10px;
        background-color: rgb(0, 225, 255);
        margin-top: 10px;
        font-size: larger;
        border: none;
        border-radius: 25px;
    }
    footer{
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        background-color:pink;
        align-items: center;
        /* position: fixed; */
        bottom: 0;
        width: 100%;
    }
    .socials{
        width: 50%;
        display: flex;
        justify-content: space-evenly;
    }
    footer >p{
        margin-top: 10px;
    }
    
    /* projects page */
    #projects{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 30px;
    }
    #projects > h1{
        margin-left: 10%;
    }
    .project__images{
        display: flex;
        justify-content: space-evenly;
    }
    .project__images > img{
        width: 300px;
    }
    /* services */
    #services{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
    
    .service__content{
        display: flex;
        /* width: 50%; */
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        background-color:black
    }
    .card{
        display: flex;
        width: 300px;
        flex-direction: column;
        align-items: left;
        row-gap: 20px;
        padding: 20px;
    }
    .card > img{
        width: 100px;
        text-align:left;
    }
    /* skills */
    #skills{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        padding: 30px;
        color: black;
    }
    #skills > h1{
        color:black;
    }
    .languages > h3{
        color:black;
    }
    .database > h3{
        color: black;
    }
    .languages{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        border-right: 3px solid white;
        align-items: center;
    }
    .database{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }
    .database > img{
        width: 100px;
    }
    .skills__content{
        display: flex;
    }
    .languages > img{
        width: 100px;
    }
    /* Contact page */
    #contact{
        display: flex;
        flex-direction: column;
        background-color:black(150, 130, 130);
        padding: 20px;
        align-items: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        width: 300px;
        margin: 0 auto;
        align-items: center;
    }
    label{
        display: flex;
        justify-content: flex-start;
    }
    .input{
        width: 100%;
        padding: 20px;
        border-left: solid;
        border-right: solid;
        border-radius: 10px;
        background-color:white;
    }
    .radio{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* flex-direction: column; */
    }
    .radio > h4{
        display: flex;
        justify-content: flex-start;
    }
    .radio > div > input{
        /* display: flex; */
        /* justify-content: flex-start; */
        margin-left: 0 !important;
    }
    .btn{
        background-color:rgb(0, 174, 255);
        width: 50%;
        padding: 10px;
    }
    /* humberger menu */
    .humbuger{
        position: relative;
        display: none;
        width: 35px;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        appearance: none;
    }
    .humbuger.bar, .humbuger:after, .humbuger:before{
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background-color:white;
        margin: 6px 0px;
        transition: 0.4s;
    }
    .mobile-nav{
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 40%;
        min-height: 100vh;
        z-index: 98;
        padding-top: 120px;
        transition: 0.5s ease;
    }
    /* media queries */
    @media only screen and (max-width:768px){
        nav{
            display: flex;
            justify-content: space-around;
        }
        nav > a{
            display: none !important;
            /* opacity: 0.1; */
            font-size: small;
            padding: 5px;
        }
        #home{
            flex-direction: column;
        }
        .self{
            width: 400px;
        }
        #projects > h1{
            text-align: center;
        }
        .project__images{
            display: flex;
            align-items: center;
            flex-direction: column;
            row-gap: 10px;
        }
        /* #services{
            width: 400px;
        } */
        .service__content{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        .humbuger{
            display: block;
        }
        .mobile-nav > ul{
            list-style-type: none;
            display: flex;
            flex-direction:column ;
        }
        .mobile-nav > ul > li {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
        .mobile-nav > ul > li >a{
            text-decoration: none;
            color: black(255, 255, 255);
            padding: 100px;
        }
        
        .mobile-nav.is-active{
            left: 0;
        }
            div > img{
            width: 300px;
            border-radius: 5px;
            text-align: left;
        }
        .self{
            width: 300px;
        }
            .database > img{
            width: 70px;
        }
        .languages > img{
            width: 70px;
        }
            .languages > h3{
            font-size: small;
        }
        .database > h3{
            font-size: small;
        }
        .form{
           width: 200px;
        }
        .btn{
           font-size: small;
           padding: 5px;
        }
    }